# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/
*.swiftpm/

